.git
.DS_Store
build
**/build
**/.build
**/.cxx
**/.deps
**/.gradle
**/.kotlin
**/.swiftpm
platform/apple/NuvioEngine.xcframework
platform/linux/dist
platform/windows/dist
*.aar
*.xcframework.zip
*.dll
*.dylib
*.so
